<template>
    <div class="ui container">
        <br/>
        <h2 class="ui ${buttonColor} header">
          <!-- <img src="/images/icons/plugin.png"> -->
          <i class="heart icon"></i>
          <div class="content">
            ${message}
            <div class="sub header">Semantic ui components</div>
          </div>
        </h2>
      	

        <div ui-segment="" class="raised">
            <button ui-button="color.bind: buttonColor">${buttonColor}</button>
        </div>

        <button repeat.for="color of colors" ui-button class="${color} basic" click.delegate="buttonColor = color">${color |capital}</button>
    </div>
</template>
